<!DOCTYPE html>
<html lang="en" ng-app="emailTrackerApp">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="library/angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="style.css" />

        <title>Email tracker</title>
    </head>
    <body ng-controller="mainController">
        <h1>Email tracker</h1>
        <h2>{{msg}}</h2>
        <div>
            <label for="email">Enter an email</label>
            <input type="text" id="email" placeholder="abcd@gmail.com" ng-model="emailInput" />
            <button ng-click="sendEmail(emailInput)">Send email</button>
        </div>

        <div ng-repeat="email in emails">
            <p>Email to: {{email.to}}</p>
            <p ng-repeat="event in email.events">Status: {{event.eventType}} {{getDate(event.timestamp)}}, {{getTimeFromNow(event.timestamp)}}</p>
            <hr />
        </div>
    </body>
</html>
