/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.container {
  margin: 30px 60px;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.form-control {
  width: 100%;
  position: relative;
  margin-top: 15px;
  box-shadow: 0 5px 81px 0 rgba(62, 57, 107, 0.11);
}

.form-control:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: #0668ff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-control:active,
.form-control:focus,
.form-control:hover {
  box-shadow: 0 5px 81px 0 rgba(85, 79, 143, 0.21);
  transition: 0.3s;
}

.inside-control {
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
}

.inside-control:focus {
  outline: none;
}

.inside-control::-webkit-input-placeholder,
.inside-control option::-webkit-input-placeholder {
  font-style: italic;
  font-family: sans-serif !important;
}

.form-control select,
.inside-control option {
  font-style: italic;
  font-family: sans-serif;
}

.form-control select {
} */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f7f6ff;
}

h2 {
  margin: 16px;
}

.container {
  margin-top: 100px;
  padding: 32px;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  background: white;
  color: #22303e;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #fdfeff;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #22303e;
  position: relative;

  order: 0;
}

.selected::after {
  content: '';
  background: url('img/arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  color: #22303e;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

/* .select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
} */

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #eeeeee;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
